@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Fredoka:wght@300..700&family=Jersey+10&family=Lexend:wght@100..900&family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&display=swap');
:root {
--primary-color:  rgb(255, 255, 255);
--secondary-color: black;


}

.darkmode {
    --primary-color:  rgb(49, 48, 48);
    --secondary-color: rgb(255, 255, 255);
}

body {
     background-color: var(--primary-color);

}



#modeswitch {
 background-color: rgb(65, 64, 64);
 border: 1px solid rgb(112, 112, 112);
 float: right;
 margin: 10px;

}

#modeswitch:active {
    background-color: rgb(146, 146, 146);
}

.text {

color: var(--secondary-color);
font-family: "Lexend",Arial, Helvetica, sans-serif;

}

.überschrift {
    color: var(--secondary-color);
    font-family: "Fjalla One",Arial, Helvetica, sans-serif;
}

.link {
    color: var(--secondary-color);
    font-family: "Lexend",Arial, Helvetica, sans-serif;

border:2px solid black;

transform: scale(1.4);
margin-left:60px;

margin-bottom: 2vh;

}

a{

text-decoration: none;
color:black

}

.sidebar.open {
    position: fixed;
    top: 0;
    right: 0;
    width: 280px;
    height: 100%;
    background-color: #1a1a1a;
    border-left: 1px solid #333;
    padding: 20px;
    box-shadow: -5px 0 15px rgba(o,0,0,0.5);
    transform: translateX(0%);
    transition: transform 0.3s ease;
    z-index: 999;
    color: white;
}


.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 280px;
    height: 100%;
    background-color: #f7f7f7; important;
    border-left: 1px solid #333;
    padding: 20px;
    box-shadow: -5px 0 15px rgba(o,0,0,0.5);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 999;
    color: white;
}

    .sidebar h3 {
        textdecoration: underline;
        tex-underline-offset:4px;
        margin-top: 0;
        margin-bottom: 15px;
        {

      .sidebar.open ~ button:first-of-type {
          right: 300px !important;
      }



    












